# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [1]:
# install missing library
!pip install pymongo
!pip install dnspython

Collecting pymongo
  Using cached pymongo-4.3.2-cp39-cp39-win_amd64.whl (381 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.2.1-py3-none-any.whl (269 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.2
Requirement already satisfied: dnspython in c:\users\ys1ong\anaconda3\envs\elec0136\lib\site-packages (2.2.1)

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [2]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [3]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################


client = pymongo.MongoClient("mongodb+srv://Ys1ong:123@cluster0.mxp06uy.mongodb.net/?retryWrites=true&w=majority")
db=client.admin


#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [4]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1667014203, 2),
                  'signature': {'hash': b'\xc5\x19\xe6\xd9\xc6y\xb3G'
                                        b'r\xfe\x8d\x93*\x95\xfb\xdc\t>Uy',
                                'keyId': 7098350483697303556}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '14bc9397d8af3fc806b476e052a5cf881cc9ff27',
                  'version': '20220914.0.0.1663348381'},
 'connections': {'available': 497, 'current': 3, 'totalCreated': 112},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'ac-u8le93h-shard-00-02.mxp06uy.mongodb.net:27017',
 'localTime': datetime.datetime(2022, 10, 29, 3, 30, 3, 567000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0,
                                  'searchBeta': 0,
                                  'searchMeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 101879}},
             'operatorCounters': {'match': {'regex': 0, 'text': 0}}},
 'network': {'bytesIn': 320110982, 'bytesOut': 21633768, 'numRequests': 4822},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 16049969139, 'ops': 4013},
                 'reads': {'latency': 716216, 'ops': 324},
                 'writes': {'latency': 314503709, 'ops': 482}},
 'opcounters': {'command': 4119,
                'delete': 8,
                'deprecated': {'getmore': 0, 'query': 0},
                'getmore': 0,
                'insert': 424589,
                'query': 221,
                'update': 15},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'deprecated': {'getmore': 0, 'query': 0},
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1667014203, 2),
 'pid': 3939,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000050'),
          'hosts': ['ac-u8le93h-shard-00-00.mxp06uy.mongodb.net:27017',
                    'ac-u8le93h-shard-00-01.mxp06uy.mongodb.net:27017',
                    'ac-u8le93h-shard-00-02.mxp06uy.mongodb.net:27017'],
          'isWritablePrimary': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2022, 10, 29, 3, 30, 3),
                        'majorityOpTime': {'t': 80,
                                           'ts': Timestamp(1667014203, 2)},
                        'majorityWriteDate': datetime.datetime(2022, 10, 29, 3, 30, 3),
                        'opTime': {'t': 80, 'ts': Timestamp(1667014203, 2)}},
          'me': 'ac-u8le93h-shard-00-02.mxp06uy.mongodb.net:27017',
          'primary': 'ac-u8le93h-shard-00-02.mxp06uy.mongodb.net:27017',
          'primaryOnlyServices': {'TenantMigrationDonorService': {'numInstances': 0,
                                                                  'state': 'running'},
                                  'TenantMigrationRecipientService': {'numInstances': 0,
                                                                      'state': 'running'}},
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-fkm8ti-shard-0',
          'setVersion': 7,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('634ec79479e974e084e1ff19')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 2,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1667014167, 6),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsResumableIndexBuilds': True,
                   'supportsSnapshotReadConcern': True},
 'uptime': 906919.0,
 'uptimeEstimate': 906919,
 'uptimeMillis': 906919478,
 'version': '5.0.13'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [5]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
pprint(student)

[{'DAPS_assignment': 3, 'name': 'Nick Baker', 'reviewer': 'Laura'},
 {'DAPS_assignment': 4, 'name': 'Mike Roberts', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 7, 'name': 'George Palmer', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 10, 'name': 'Andrew Peterson', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 1, 'name': 'Alex Baker', 'reviewer': 'Laura'},
 {'DAPS_assignment': 3, 'name': 'Nick Baker', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 3, 'name': 'Andrew Peterson', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 9, 'name': 'Paul Baker', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 1, 'name': 'Maria Baker', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 3, 'name': 'Nick Palmer', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 1, 'name': 'Maria Armstrong', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 7, 'name': 'Nick Peterson', 'reviewer': 'Laura'},
 {'DAPS_assignment': 2, 'name': 'Alex Turner', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 5, 'name': 'Alex Adams', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 3, 'name': 'George Peterson', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 1, 'name': 'Alex Palmer', 'reviewer': 'Laura'},
 {'DAPS_assignment': 4, 'name': 'Anna Turner', 'reviewer': 'Laura'},
 {'DAPS_assignment': 4, 'name': 'Maria Turner', 'reviewer': 'Laura'},
 {'DAPS_assignment': 8, 'name': 'Anna Turner', 'reviewer': 'Laura'},
 {'DAPS_assignment': 9, 'name': 'Natalia Palmer', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 7, 'name': 'Mike Baker', 'reviewer': 'Laura'},
 {'DAPS_assignment': 3, 'name': 'Maria Turner', 'reviewer': 'Laura'},
 {'DAPS_assignment': 8, 'name': 'Paul Roberts', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 4, 'name': 'Maria Turner', 'reviewer': 'Laura'},
 {'DAPS_assignment': 5, 'name': 'Paul Armstrong', 'reviewer': 'Laura'},
 {'DAPS_assignment': 1, 'name': 'Maria Armstrong', 'reviewer': 'Miguel'},
 {'DAPS_assignment': 7, 'name': 'Alex Baker', 'reviewer': 'Laura'},
 {'DAPS_assignment': 2, 'name': 'Alex Adams', 'reviewer': 'Laura'},
 {'DAPS_assignment': 9, 'name': 'Andrew Adams', 'reviewer': 'Miguel'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [6]:
db.client.students.daps.drop()

In [7]:
# Create a database object called “students”
db = client.students
# Create a new collection object called “daps” in database "students"
daps = db.daps

In [8]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################


### TO DO
daps.insert_many(student)

#########

In [9]:
for student_list in daps.find():
    print(student_list)

{'_id': ObjectId('635c9e3cb4eda1e5369e5596'), 'name': 'Nick Baker', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e5597'), 'name': 'Mike Roberts', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e5598'), 'name': 'George Palmer', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e5599'), 'name': 'Andrew Peterson', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559a'), 'name': 'Alex Baker', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559b'), 'name': 'Nick Baker', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559c'), 'name': 'Andrew Peterson', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559d'), 'name': 'Paul Baker', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559e'), 'name': 'Maria Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559f'), 'name': 'Nick Palmer', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a0'), 'name': 'Maria Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a1'), 'name': 'Nick Peterson', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a2'), 'name': 'Alex Turner', 'DAPS_assignment': 2, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a3'), 'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a4'), 'name': 'George Peterson', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a5'), 'name': 'Alex Palmer', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a6'), 'name': 'Anna Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a7'), 'name': 'Maria Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a8'), 'name': 'Anna Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a9'), 'name': 'Natalia Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55aa'), 'name': 'Mike Baker', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ab'), 'name': 'Maria Turner', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ac'), 'name': 'Paul Roberts', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ad'), 'name': 'Maria Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ae'), 'name': 'Paul Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55af'), 'name': 'Maria Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55b0'), 'name': 'Alex Baker', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55b1'), 'name': 'Alex Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55b2'), 'name': 'Andrew Adams', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [10]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO
for student_list in daps.find({"DAPS_assignment": 5}):
    print(student_list)

print('\n')
print(daps.find_one({"DAPS_assignment": 5}))


#########

{'_id': ObjectId('635c9e3cb4eda1e5369e55a3'), 'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ae'), 'name': 'Paul Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}


{'_id': ObjectId('635c9e3cb4eda1e5369e55a3'), 'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [11]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO
for student_list in daps.find({"DAPS_assignment": 8}):
    print(student_list)
    
for student_list in daps.find({"DAPS_assignment": 3}):
    print(student_list)
    
score_8_or_3 = daps.count_documents({"$or": [{"DAPS_assignment": 8}, {"DAPS_assignment": 3}]})
print('\nThe total number of students with score 8 and 3 is', score_8_or_3)


#########

{'_id': ObjectId('635c9e3cb4eda1e5369e55a8'), 'name': 'Anna Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ac'), 'name': 'Paul Roberts', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e5596'), 'name': 'Nick Baker', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559b'), 'name': 'Nick Baker', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559c'), 'name': 'Andrew Peterson', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559f'), 'name': 'Nick Palmer', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a4'), 'name': 'George Peterson', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ab'), 'name': 'Maria Turner', 'DAPS_assignment': 3, 'reviewer': 'Laura'}

The total number of students with score 8 and 3 is 8

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [12]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################


### TO DO
print('Original Students with Score 4:')
for student_list in daps.find({"DAPS_assignment": 4}):
    print(student_list)
    
print('\nOriginal Students with Score 5:')
for student_list in daps.find({"DAPS_assignment": 5}):
    print(student_list)
    
    
print('\n\nUpdate the score on students with final mark 4 to 5 marked by Dr. Laura')

myquery = {"$and": [{"DAPS_assignment": 4}, {"reviewer": "Laura"}]}
myupdate = {"$set":  {"DAPS_assignment": 5}}
daps.update_many(myquery, myupdate)

print('\nAfter update Students with Score 4:')
for student_list in daps.find({"DAPS_assignment": 4}):
    print(student_list)
    
print('\nAfter Update Students with Score 5:')
for student_list in daps.find({"DAPS_assignment": 5}):
    print(student_list)


#########

Original Students with Score 4:
{'_id': ObjectId('635c9e3cb4eda1e5369e5597'), 'name': 'Mike Roberts', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a6'), 'name': 'Anna Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a7'), 'name': 'Maria Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ad'), 'name': 'Maria Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}

Original Students with Score 5:
{'_id': ObjectId('635c9e3cb4eda1e5369e55a3'), 'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ae'), 'name': 'Paul Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}


Update the score on students with final mark 4 to 5 marked by Dr. Laura

After update Students with Score 4:
{'_id': ObjectId('635c9e3cb4eda1e5369e5597'), 'name': 'Mike Roberts', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}

After Update Students with Score 5:
{'_id': ObjectId('635c9e3cb4eda1e5369e55a3'), 'name': 'Alex Adams', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a6'), 'name': 'Anna Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a7'), 'name': 'Maria Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ad'), 'name': 'Maria Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ae'), 'name': 'Paul Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [13]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO
print('\nOriginal Students marked by Dr. Laura Toni:')
for student_list in daps.find({"reviewer": "Laura"}):
    print(student_list)

students_by_Laura = daps.count_documents({"reviewer": "Laura"})
all_students = daps.count_documents({})
print('\nThe total number of students marked by Dr. Laura Toni is', students_by_Laura, ', Total = ', all_students)


print('\n\nDelete all the documents that Dr. Laura Toni marked')
delete_Laura = daps.delete_many({"reviewer": "Laura"})
students_by_Laura = daps.count_documents({"reviewer": "Laura"})
all_students = daps.count_documents({})
print('\nThe total number of students marked by Dr. Laura Toni is', students_by_Laura, ', Total = ', all_students)



#########

Original Students marked by Dr. Laura Toni:
{'_id': ObjectId('635c9e3cb4eda1e5369e5596'), 'name': 'Nick Baker', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e559a'), 'name': 'Alex Baker', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a1'), 'name': 'Nick Peterson', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a5'), 'name': 'Alex Palmer', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a6'), 'name': 'Anna Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a7'), 'name': 'Maria Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55a8'), 'name': 'Anna Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55aa'), 'name': 'Mike Baker', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ab'), 'name': 'Maria Turner', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ad'), 'name': 'Maria Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55ae'), 'name': 'Paul Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55b0'), 'name': 'Alex Baker', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('635c9e3cb4eda1e5369e55b1'), 'name': 'Alex Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}

The total number of students marked by Dr. Laura Toni is 13 , Total =  29


Delete all the documents that Dr. Laura Toni marked

The total number of students marked by Dr. Laura Toni is 0 , Total =  16

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap